<header>
    <img src="imgs/logo.png" alt="">
    <nav>
        <ul>
            <li><a href="{{ url('homepage') }}">Home</a></li>
            <li><a href="{{ url('lost_index') }}">Lost</a></li>
            <li><a href="{{ url('found_index') }}">Found</a></li>
            <li><a href="{{ url('found_index') }}">Register</a></li>
            <li><a href="{{ url('found_index') }}">Login</a></li>
            <li><a href="{{ url('found_index') }}">Disconnect</a></li>
        </ul>
    </nav>
</header>
