{% extends 'base.html.twig' %}
{% set page='show' %}
{% block body %}
    <h1>found</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ found.id }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ found.contact }}</td>
            </tr>
            <tr>
                <th>Country</th>
                <td>{{ found.country }}</td>
            </tr>
            <tr>
                <th>City</th>
                <td>{{ found.city }}</td>
            </tr>
            <tr>
                <th>Address</th>
                <td>{{ found.address }}</td>
            </tr>
            <tr>
                <th>User</th>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <th>Contact</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Datefound</th>
                <td>{% if found.datefound %}{{ found.datefound|date('Y-m-d') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td><img src="{{ vich_uploader_asset(found, 'imageFile') }}" alt="{{ found.imageName }}"></td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ found.description }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('found_index') }}">Back to the list</a>
        </li>
        {% if user.id == currentUserId %}
            <li>
                <a href="{{ path('found_edit', { 'id': found.id }) }}">Edit</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                    <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        {% endif %}
    </ul>
{% endblock %}
